.column-grid {
	clear: both;
	}
.column-grid:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
.column {
	float: left;
	margin-right: 5%;
	}
.column-first {
	margin-left: 0;
	}
.column-last {
	float: right;
	margin-right: 0;
	}


/**
 * Formula for getting the width of each column.
 *	$width = ( 100 + $margin-right ) / ( $grid ) * ( $span ) - ( $margin_right )
 *	$x     = ( 100 + $margin_right ) / $grid
 */

/* $x = 6.5625 */
.column-grid-16 .column-span-16 { width: 100%;     }
.column-grid-16 .column-span-15 { width: 93.4375%; }
.column-grid-16 .column-span-14 { width: 86.875%;  }
.column-grid-16 .column-span-13 { width: 80.3125%; }
.column-grid-16 .column-span-12 { width: 73.75%;   }
.column-grid-16 .column-span-11 { width: 67.1875%; }
.column-grid-16 .column-span-10 { width: 60.625%;  }
.column-grid-16 .column-span-9  { width: 54.0625%; }
.column-grid-16 .column-span-8  { width: 47.5%;    }
.column-grid-16 .column-span-7  { width: 40.9375%; }
.column-grid-16 .column-span-6  { width: 34.375%;  }
.column-grid-16 .column-span-5  { width: 27.8125%; }
.column-grid-16 .column-span-4  { width: 21.25%;   }
.column-grid-16 .column-span-3  { width: 14.6875%; }
.column-grid-16 .column-span-2  { width: 8.125%;   }
.column-grid-16 .column-span-1  { width: 1.5625%;  }

/* $x = 8.75 */
.column-grid-12 .column-span-12 { width: 100%;   }
.column-grid-12 .column-span-11 { width: 91.25%; }
.column-grid-12 .column-span-10 { width: 82.5%;  }
.column-grid-12 .column-span-9  { width: 73.75%; }
.column-grid-12 .column-span-8  { width: 65%;    }
.column-grid-12 .column-span-7  { width: 56.25%; }
.column-grid-12 .column-span-6  { width: 47.5%;  }
.column-grid-12 .column-span-5  { width: 38.75%; }
.column-grid-12 .column-span-4  { width: 30%;    }
.column-grid-12 .column-span-3  { width: 21.25%; }
.column-grid-12 .column-span-2  { width: 12.5%;  }
.column-grid-12 .column-span-1  { width: 3.75%;  }

/* $x = 10.5 */
.column-grid-10 .column-span-10 { width: 100%;  }
.column-grid-10 .column-span-9  { width: 89.5%; }
.column-grid-10 .column-span-8  { width: 79%;   }
.column-grid-10 .column-span-7  { width: 68.5%; }
.column-grid-10 .column-span-6  { width: 58%;   }
.column-grid-10 .column-span-5  { width: 47.5%; }
.column-grid-10 .column-span-4  { width: 37%;   }
.column-grid-10 .column-span-3  { width: 26.5%; }
.column-grid-10 .column-span-2  { width: 16%;   }
.column-grid-10 .column-span-1  { width: 5.5%;  }